.dashboardWrapper {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
}

.dashboard {
  display: inline-block;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 31%;
}
.dashboard:hover {
  background-color: #3e8e41;
}
.dashboard:active {
  box-shadow: 0 5px, #666;
  transform: translateY(4px);
}
.dashboard_btn_container {
  margin-top: auto;
}
@media only screen and (max-width: 750px) {
  .dashboard {
    width: 100%;
  }
}
